cryptography == 43.0.3
pandas == 2.2.3
scikit-learn == 1.5.2

# Needed for generating dummy data.
faker == 32.1.0

# Needed only for MinHash.
skrub == 0.5.1

# Needed for Levenhstein distance.
thefuzz == 0.22.1
rapidfuzz == 3.12.1

# Needed to run Notebooks in VS Code.
ipykernel == 6.29.5